<a href="{{ path('bbit_admin_'~admin.getName~'_edit', {'id': item.id}) }}" class="btn btn-primary">Edit</a>

<a href="{{ path('bbit_admin_'~admin.getName~'_delete', {'id': item.id}) }}" class="btn btn-danger">Delete</a>