{% extends '@BBITAdmin/Default/base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block maincontent %}

    <form method="post">
        {% for child in form.children %}
            {{ form_row(child) }}
        {% endfor %}



    <input type="submit" value="Save" class="btn btn-success">
    <a class="btn btn-danger" href="{{ path('bbit_admin_'~admin.getName~'_delete', {'id': item.id}) }}">Remove {{ admin.getName|capitalize }}</a>

    </form>


{% endblock %}