{% extends '@BBITAdmin/Default/base.html.twig' %}

{% block maincontent %}


    <a class="btn btn-success" href="{{ path('bbit_admin_'~admin.getName~'_add') }}">Add new {{ admin.getName|capitalize }}</a>
    <br>
    {{ grid|raw }}






{% endblock %}